rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Kullanıcı YALNIZCA kendi belgesini okuyup yazabilir.
    // Başka bir kullanıcının verisine erişilemez.
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
